body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-header {
  background: rgb(255,0,255);
  /* background: linear-gradient(90deg, rgba(255,0,255,1) 3%, rgba(69,127,218,1) 56%, rgba(0,255,243,1) 98%); */
  background-image: linear-gradient( 181deg,  rgb(165, 172, 254) 6.9%, rgba(78,248,231,1) 112.8% );
}

